---
---

@import "{{ site.theme }}";
#header nav {
  background: none;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}

p img {
  padding: 3px;
  background-color: darkgray;
  border-radius: 4px;
}
footer {
  text-align: center;
}

// .credits.right { 
//   display: none;
// }

@media print, screen and (max-width: 720px) { 
  #title .credits { 
    display: block;
    width: 100%; 
    line-height: 30px; 
    text-align: center; 
  }
  #title .credits .left { 
    float: none; display: block; 
  }
  #title .credits .right { 
    float: none; 
    display: block; 
  } 
}

@media print, screen and (max-width: 480px) {
  #header { 
    margin-top: 2px;
  }

  nav {
    display: flex; 
    justify-content: space-around;
  }

  ul.header-buttons {
    padding-left: 4px;
    padding-right: 4px;
    width: 100%;
  }

  #title {
    margin-bottom: 15px !important;
  }

  #title h1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
