---
---

@import "{{ site.theme }}";
#header nav {
  background: none;
}

.header-buttons {
  display: flex;
  justify-content: space-between;
}

p img {
  padding: 3px;
  background-color: darkgray;
  border-radius: 4px;
}